[submodule "submodules/kbd"]
	path = submodules/kbd
	url = https://github.com/foostan/kbd.git
[submodule "submodules/Keebio-Parts.pretty"]
	path = submodules/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "submodules/MX_Alps_Hybrid.pretty"]
	path = submodules/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
